
.cabecalho {
font-family: 'Times New Roman';
text-align: left;
font-size: larger;
font-style: italic;
text-decoration: underline ;
background-color: hotpink;
color:black;
}

.corpo {
  background-color:mediumpurple;
  text-align: center;
  font-size: medium;
  font-family:'Calibria' ;
  color:black;
}


.rodape {
background-color: lightslategrey;
text-align: right;
font-family: 'Times New Roman';
color:black;
}

