* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    width: 100%;
    height: 10%;
    background-color: #871134;
    position: fixed;
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgb(178, 62, 62);
}

ul {
    list-style: none;
    align-items: center;
    display: flex;
    margin-right: 10%;
}

.lista {
    
}

a li {
    display: flex;
    color: white;
    padding: 2%;
}

.logo {
    color: rgb(252, 178, 178);
    text-decoration: none;
    font-size: 200%;
    margin-top: 1.5%;
    margin-left: 10%;
}

.container1 {
    padding-top: 20%;
    height: 60vh;
    width: 100%;
    background-color: darksalmon;
}

.container2 {
    margin-right: 60vh;
    height: 60vh;
    width: 100%;
    background-color: rgb(178, 62, 62);
}

.caos {
    display: flex;
    justify-content: center;
}

.element {
    width: 50px;
    height: 50px;
    background-color: rgb(17, 17, 51);
    margin-top: 200px;
}